<h1><%= t("mailers.workshop_mailer.declined.heading") %></h1>

<p><%= t("mailers.workshop_mailer.declined.body_html", name: tag.strong(@workshop.name)) %></p>

<% if @decline_reason.present? %>
  <p>
    <strong><%= t("mailers.workshop_mailer.declined.reason_label") %>:</strong><br>
    <%= simple_format(@decline_reason) %>
  </p>
<% end %>

<p>
  <%= link_to t("mailers.workshop_mailer.declined.cta"), my_workshops_url, class: "btn" %>
</p>
